<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
